*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', 'Arial', sans-serif;
  background: #F2F2F2;
}

h1, h2, h3 {
  font-weight: 700;
}

a {
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.quantity__btn {
  padding: 15px 15px;
  width: 120px;
  height: 48px;
  background: #F1F1F1;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.add-card__btn {
  display: block;
  text-align: center;
  padding: 15px 30px;
  height: 48px;
  width: 160px;
  background: #D87D4A;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.plus, .minus {
  border: none;
  padding: 0 15px;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0px 10px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 690px;
  }
}

.header {
  background: #0E0E0E;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0 37px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__list {
  width: 429px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: 0 317px 0 197px;
}

.header__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.header__link:hover {
  color: #D87D4A;
}

.icon {
  color: #fff;
}

#check {
  display: none;
}

.bar {
  margin-right: 42px;
  -webkit-transform: scale(2);
          transform: scale(2);
  display: none;
}

@media screen and (max-width: 768px) {
  .bar {
    display: block;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: -1;
    left: -197px;
    width: 100%;
    top: 95px;
    background: #0E0E0E;
    padding-left: 10px;
    height: 150px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .header__logo {
    margin-right: auto;
  }
  #check:checked ~ .header {
    height: 400px;
  }
  #check:checked ~ .header__list {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.footer {
  margin-top: 160px;
  background: #101010;
  padding-bottom: 48px;
}

.footer__hr {
  width: 101px;
  height: 4px;
  background: #D87D4A;
  border: none;
  margin-bottom: 71px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}

.footer__nav--list {
  width: 429px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.footer__nav--link {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.footer__nav--link:hover {
  color: #D87D4A;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  width: 540px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.5;
}

.footer__text--bottom {
  display: inline-block;
  margin-top: 56px;
}

.footer__list {
  width: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.section1 {
  position: relative;
  z-index: -1;
  padding-top: 79px;
}

.section1__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.section1__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 56px;
}

.section1__img {
  max-width: 540px;
  height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1F1F1;
  border-radius: 8px;
}

.section1__text {
  max-width: 445px;
  margin-left: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section1__sub-header {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #D87D4A;
}

.section1__header {
  margin-top: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000000;
}

.section1__paragraph {
  margin-top: 32px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.section1__price {
  margin-top: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #000000;
}

.section1__btns {
  margin-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .section1__sub-header {
    font-size: 12px;
  }
  .section1__header {
    font-size: 28px;
  }
  .section1__paragraph {
    font-size: 15px;
  }
  .section1__img {
    max-width: 281px;
    height: 480px;
  }
}

.section2 {
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features {
  max-width: 635px;
}

.features__header {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
  color: #000000;
}

.features__p {
  margin-top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.box {
  margin-left: 125px;
}

.box__header {
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
  color: #000000;
}

.box__list {
  margin-top: 32px;
  list-style: none;
}

.box__item {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}

.box__item--number {
  margin-right: 24px;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #D87D4A;
  opacity: 1;
}

.box__item__text {
  opacity: .5;
}

.section3 {
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3__image1 {
  max-width: 445px;
  height: 280px;
  background: #F1F1F1;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
}

.section3__image3 {
  max-width: 635px;
  height: 592px;
  margin-left: 25px;
  overflow: hidden;
  background: #F1F1F1;
  border-radius: 8px;
}

.section4 {
  padding-top: 160px;
}

.section4__header {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
  color: #000000;
}

.section4__card-list {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section4__card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  height: 318px;
  background: #F1F1F1;
  border-radius: 8px;
  margin-right: 30px;
}

.section4__card__image:last-child {
  margin-right: 0;
}

.section4__card__header {
  margin-top: 40px;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 1.71429px;
  text-transform: uppercase;
  color: #000000;
}

.section4__card__btn {
  display: block;
  width: 160px;
  margin: auto;
  margin-top: 32px;
  height: 48px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #D87D4A;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section4__shop {
  margin-top: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section4__shop__item {
  position: relative;
  width: 350px;
  height: 204px;
  background: #F1F1F1;
  border-radius: 8px;
}

.shop__img {
  position: absolute;
  left: 30%;
  top: -50%;
}

.shop__header {
  text-align: center;
  margin-top: 116px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
}

.shop__link {
  display: block;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
}

.shop__oval {
  width: 122px;
  height: 18px;
  position: absolute;
  left: 35%;
  top: 30%;
  background: #000000;
  -webkit-filter: blur(43.4925px);
          filter: blur(43.4925px);
}

.arrow {
  margin-left: 13px;
}

.section5 {
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section5__text {
  max-width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section5__header {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bolder;
}

.section5__p {
  margin-top: 32px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.section5__img {
  background: #F1F1F1;
  border-radius: 8px;
  overflow: hidden;
}

.bold__orange {
  color: #D87D4A;
}
/*# sourceMappingURL=main.css.map */